<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4 ">
  <a class="navbar-brand" href="/">Akdeniz UniBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      {{#if user}}
       
        <li class="nav-item">
      <a class="nav-link" href="/addbook">Add Book</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" style="color: red;" href="#">Current User : {{user.username}}</a>
      </li>
      <li class="nav-item">
      <a class="nav-link"  href="/userprofile">Your Profile</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {{/if}}
   
    </ul>
  </div>
</nav>