
<header class="header-user-dropdown">

	<div class="header-limiter">
		<h1><a href="/"><span style="color:#D0A01E; font: normal 36px 'Cookie', cursive;">Akdeniz University UniBook</span></a></h1>
    

		<nav>
            <div class="mainnav" style="float: left; margin-left:18px;">
			<a href="/addbook">Add Book</a>
            <a href="/userprofile">View Profile</a>
			<a href="#">Roles <span class="header-new-feature">new</span></a>
            </div>
            <a id="logout-section" href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </nav>


		<div style="margin-top: 5px;" class="header-user-menu">
            <a href="/userprofile"><i style="margin-left:5px;" class="fas fa-users-cog fa-2x"></i></a>

			<ul>
				<li><a href="/userprofile">View Profile</a></li>
			</ul>

		</div>

	</div>
    

</header>
