<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/png" href="favicon/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="/css/{{style}}">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

     <link rel="stylesheet" type="text/css" href="/css/navbar1.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

	<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>

    


    <script src="https://kit.fontawesome.com/b68ca45677.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/{{js}}"></script>

    



    <title>{{title}}</title>
</head>
<body>

    

    {{> navbar}}
    <div class="container">
		<div class="flash"> {{> flash}}</div>
		<div class="errors">  {{> errors}}</div>
 
   
      
    {{{body}}}
    </div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>





<footer class="footer-distributed">
 
			<div class="footer-left">

				<img style="width: 65px; height: 60px;" src="/img/akdenizlogo.png">
        <h3>Akdeniz University<br><span>UniBook</span></h3>
 
				<p class="footer-links">
					<a href="/">Home</a>
					|
					<a href="/addbook">Add Book</a>
					|
					<a href="/userprofile">View Profile</a>
					|
					<a href="#">Contact</a>
				</p>
 
				<p class="footer-company-name">Copyright &copy; 2020 All Rights Reserved by <i><a style="text-decoration: none; color: silver;" target="_blank" href="http://websiteniziyapiyorum.com"> Tarık</a></i> </p>
			</div>
 
			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					  <p><span>Akdeniz University</p>
				</div>
 
				<div>
					<i class="fa fa-phone"></i>
					<p>+90-555-55-55</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:tarikpnr147@gmail.com">tarikpnr147@gmail.com </a></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>About Akdeniz University</span>
					</p>
				<div class="footer-icons">
          <div class="social-icons">
					<a href="https://www.facebook.com/Akdenizun/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
					<a href="https://twitter.com/Akdenizun?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
					<a href="https://www.instagram.com/akdeniz_universitesi/?hl=tr" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
					<a href="https://tr.linkedin.com/school/akdeniz-university/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
					<a href="https://www.youtube.com/channel/UCk4WG2b2WqMQ32j0aLDDcNw" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
          </div>
				</div>
			</div>
		</footer>













</body>
</html>
















