{{> errors}}


<div class='box'>
  <div class='box-form'>
    <div class='box-login-tab'></div>
    <div class='box-login-title'>
      <div class='i i-login'></div><h2 style="margin-top: 12px;">RESET</h2>
    </div>
    <div class='box-login'>
      <div class='fieldset-body' id='login_form'>
        <button onclick="openLoginInfo();" class='b b-form i i-more' title='Mais Informações'></button>
                            <form action="/forgotpwreset" method="POST">

        	<p class='field'>

          <label for='Email'>YOUR E-MAIL</label>
          <input type='email' id='email' name='email' title='Email' />
          <span id='valida' class='i i-warning'></span>
        </p>

        	<input type='submit' id='do_login' value='Done' title='Done' />
          </form>
      </div>
    </div>
  </div>
   <div class='box-info'>
					    <p><button onclick="closeLoginInfo();" class='b b-info i i-left' title='Back to Sign In'></button><h3>Need Help?</h3>
    </p>
					    <div class='line-wh'></div>
    <button onclick="" class='b-support' title='Contact Support'> Contact Support</button>
    					<div class='line-wh'></div>
    <a href="/register"><button onclick="" class='b-cta' title='Sign up now!'> CREATE ACCOUNT</button></a>
  				</div>
</div>


  